/*Header*/

.header{
	position: fixed;
}

.div-header {width: 100%;
			height: 50px;
			padding: 11px 0 9px 22px;}
.logo-header {color: #FA6980;
				font-size: 13px;
				font-weight: bold;
				display: inline-block;
				margin-right: 92px;
				vertical-align: middle;}
.navigation {display: inline-block;
			vertical-align: middle;}
.list-1 {font-size: 11px;
		margin-right: 27px;
		display: inline-block;
		}
.list-standard {display: inline-block;
				font-size: 11px;
				margin-right: 22px;
				}
.list4 {display: inline-block;
		font-size: 11px;
		margin-right: 40px;}

.a-list-black {color: rgb(52, 54, 56)}
.a-list-standard {color: rgb(52, 54, 56,50%);}
.header-pic {height: 30px; width: 30px; vertical-align: middle;}
/*Header*/
